apiVersion: "kubeadm.k8s.io/v1beta2"
kind: ClusterConfiguration
etcd:
    local:
        serverCertSANs:
        - "{{etcd_node01_ip}}"
        peerCertSANs:
        - "{{etcd_node01_ip}}"
        extraArgs:
            initial-cluster: {{etcd01_hostname}}=https://{{etcd_node01_ip}}:2380,{{etcd02_hostname}}=https://{{etcd_node02_ip}}:2380,{{etcd03_hostname}}=https://{{etcd_node03_ip}}:2380
            initial-cluster-state: new
            name: "{{etcd01_hostname}}"
            listen-peer-urls: https://{{etcd_node01_ip}}:2380
            listen-client-urls: https://{{etcd_node01_ip}}:2379
            advertise-client-urls: https://{{etcd_node01_ip}}:2379
            initial-advertise-peer-urls: https://{{etcd_node01_ip}}:2380