! /etc/keepalived/keepalived.conf
! Configuration File for keepalived
global_defs {
    router_id LVS_K8S
}
vrrp_script check_apiserver {
  script "{{ keepalived_config_dir }}/check_apiserver.sh"
  interval 3
  weight -2
  fall 10
  rise 2
}

vrrp_instance VI_1 {
    state BACKUP
    interface {{ nic_device }}
    virtual_router_id 51
    priority 100
    authentication {
        auth_type PASS
        auth_pass 270421
    }
    virtual_ipaddress {
        {{ apiserver_vip }}
    }
    track_script {
        check_apiserver
    }
}